# ReCodEx worker systemd configuration file
#
# This file should be placed in /etc/systemd/system/ directory
# For starting worker with ID 1, following should be met:
# 	- config file with name 'config-1.yml' in conf directory
#	- run 'systemctl start recodex-worker@1.service

[Unit]
Description=Recodex Worker (%i)
Documentation=http://recodex.github.io/worker/,https://github.com/ReCodEx/GlobalWiki/wiki
DefaultDependencies=true

[Service]
Type=simple
StandardInput=null
StandardOutput=null
StandardError=journal
User=recodex
Group=recodex
ExecStart=/usr/bin/recodex-worker -c /etc/recodex/worker/config-%i.yml

[Install]
WantedBy=multi-user.target
